<h1>{LANG("news.index")}</h1>

<a href="{MAIN_LINK('news', 'add')}"><span class="addButton"></span>{LANG('CORE.ADD')}</a>

<div class="table">
{list PAGES}
    <div class="row">
        <div>
            {if PAGES.TIME <= TIME}
                {if PAGES.TIME}
                    <span class="activeIcon"></span>
                {else}
                    <span class="inactiveIcon"></span>
                {/if}
            {else}
                <span class="inactiveIcon"></span>                
            {/if}
        </div>
        <div>{PAGES.ID}</div>
        <div><a href="index.php?module=news&action=detail&id={PAGES.ID}" target="_blank">{PAGES.TITLE}</a></div>
        <div class="right">
            <a href="{MAIN_LINK('news', 'edit', 'id', PAGES.ID)}" title="{LANG('CORE.EDIT')}" class="editButton"></a>            
            <a href="{MAIN_LINK('news', 'delete', 'id', PAGES.ID)}" title="{LANG('CORE.DELETE')}" class="delButton"></a>
        </div>
    </div>
{/list}
</div>

<a href="{MAIN_LINK('news', 'add')}"><span class="addButton"></span>{LANG('CORE.ADD')}</a>
